body 
{
	background-image: url("../imagini/background5.jpg");
	background-size: 1700px 1000px;
	background-color: #DCDCDC;
	color:white;
	font-size:130%;
}
h1
{
    text-shadow: 1px 1px;
}
.center 
{
    margin: auto;
    width: 50%;
    padding: 15px;
    border:5px solid #796dce;
	text-align:center;
  
}
.formular
{
	border:5px solid #FF7F50
}
.button
{
	font-size:130%;
	border-radius: 12px;
	background-color: #FF7F50;
	color: white;
	width: 150px;
}